.container {
  display:flex;
  flex-wrap:nowrap;
  flex-direction:row;
  justify-content:center;
  height: 600px;

  @media screen and (max-width: 767px) {
    width:100%;
    flex-direction: column;
    height: 1500px;
  }
}