header {
  position: absolute;
  left:0;
  top:0;
  width:100%;
  z-index:1;
  opacity: .90;
  padding-top: 10px;
  text-align:center;
  
  img {
    width:responsiveWidth(200,300);
    max-width:300px;
    height:auto;
    margin-left:responsiveWidth(30,1280);
  }
  
  p {
      
    font-size: 7vmin;
        
    //font-size: 4em;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
  }
  
  @media screen and (max-width: 870px) {
    position: relative;
  }
}