/* Button Global */

.btn {
  margin: 1rem; 
  border: .094em solid;
  box-shadow: 0 .375em .313em -.313em rgba(black,.8), inset 0 .063em $off-wht, inset 0 -.188em rgba(black,.15);
  color: #FFF;
  font: bold .75rem sans-serif;
  @include trans(0.2s ease-in-out); 
  
  outline: none;
  cursor:pointer;
}

